*{
    margin: 0;
    padding: 0;
}

#Sondages{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: left;
}
a{
    width: auto;
    text-decoration: none;
    margin-right: 55px;
}
h3{
    margin-bottom: 5px;
    margin-top: 25px;
}
hr{
    width: 270px;
    background-color: black;
    margin-bottom: 35px;
}
section{
    margin-left: 60px;
    margin-right: 60px;
}
article{
    width: 100%;
    background-color: grey;
    padding: 15px;
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}