h1 {
    text-align: center;
    margin: 20px auto;
}
h2 {
    margin-bottom: 20px;
}
h2,h3 {
    text-align: center;
}
h3 span {
    color: rgb(233, 0, 0);
}

.reponseSdg {
    margin-left: 100px;
    padding: 20px;
    width: 30%;
    border: solid black 2px;
}
.reponseSdg ul {
    list-style: none;
}
.reponseSdg ul li{
    font-size: 24px;
}

.reponseSdg input[type="submit"]
{
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 16px;
    background-color: white;
}

.resultatSdg {
    width: 50%;
    border: solid black 2px;
} 
.emailing {
    margin-top: 100px;
}
.linkEmailing {
    margin-left: 100px;
}
.endEmailing {
    margin-left: 100px;
}
.tchatSdg {
    width: 50%;
    background-color: blueviolet;
    height: 100vh;
}

/*ALREADY ANSWER*/

.alreadyRep {
    text-align: center;
}