h1 {
    text-align: center;
    margin: 20px auto;
}

h2 {
    margin-bottom: 20px;
}

h2,
h3 {
    text-align: center;
}

h3 span {
    color: rgb(233, 0, 0);
}

.reponseSdg {
    margin:auto;
    padding: 20px;
    width: 30%;
    border: solid black 2px;
}

.reponseSdg ul {
    list-style: none;
}

.reponseSdg ul li {
    font-size: 24px;
}

.reponseSdg input[type="submit"] {
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 16px;
    background-color: white;
}

.resultatSdg {
    width: 50%;
    border: solid black 2px;
    margin: auto;
}

.resultatSdg ul {
    list-style: none;
    text-align: center;
}

.score li{
    font-size: 20px;
    margin-bottom: 5px;
}
.emailing {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
}

.tchatSdg {
    width: 50%;
    background-color: blueviolet;
    height: 100vh;
}

/*ALREADY ANSWER*/

.alreadyRep {
    text-align: center;
}

#numSondage,#numId {
    font-size: 1px;
    visibility: hidden;
}


/* TCHAT */

#tchat{
    width: 60%;
    margin: auto;
}

#container-messages{
    height: 250px;
    background-color: rgb(238, 238, 238);
    border-radius: 25px 25px 0px 0px;
    padding: 10px;
    overflow-y: scroll;
}

#container-messages li{
    list-style: none;
    margin-bottom: 5px;
}

#container-messages li:nth-last-child(n){
    background-color: rgb(168, 168, 255);
    border-radius: 15px;
    color: black;
    padding: 5px;
}
#container-messages li:nth-last-child(2n){
    background-color: rgb(202, 202, 202);
    border-radius: 15px;
    color: black;
}

#tchat form{
    display: flex;
    justify-content: center;
}

#tchat form textarea{
    width: 100%;
}